#experience {
    padding-top: 5%;
    padding-bottom: 20%;
    background-color: #DEB48E;
}


#experience > h2 {
    /* text-align: center; */
    font-size: 60px;
    padding: 30px 110px;
    color: white;
}

#experience > .cards {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#experience > .cards > .MuiCard-root {
    /* padding: 10px 10px; */
    background-color:#FCEED8;
    /* border-radius: 50px; */
    text-align: center;
    max-width: 345px;

}

#experience > .cards > .MuiCard-root:hover {
    transform: scale(1.07);

}

#experience > .cards > .MuiCard-root > .MuiCardHeader-root {
    color: #D06550    
}

#experience > .cards > .MuiCard-root > .MuiCardContent-root {
    color: #3f3209
}

