#projects {
    justify-content: center;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

#projects > h2 {
    /* text-align: center; */
    font-size: 60px;
    padding: 30px 110px;
    color: whitesmoke;
}

#projects > .cards { 
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

#projects > .cards > .MuiCard-root {
    /* padding: 10px 10px; */
    text-align: center;
    max-width: 345px;
    background-color: #FCEED8;

}

#projects > .cards > .MuiCard-root:hover {
    transform: scale(1.07);
}

#projects > .cards > .MuiCard-root > .MuiCardHeader-root {
    color: #D06550;
}

#projects > .cards > .MuiCard-root > .MuiCardActions-root {
   justify-content: center;
}

#projects > .cards > .MuiCard-root > .MuiCardActions-root > .MuiButtonBase-root {
   background-color:#D06550;
   color: white;
}

#projects > .cards > .MuiCard-root > .MuiCardContent-root {
    color: #3f3209
}


