#projects {
    padding-top: 5%;
    padding-bottom: 5%;
}

#projects > h2 {
    font-size: 3rem;
    padding: 0 10%;
    color: whitesmoke;
}

#projects > .cards { 
    justify-content: center;
    justify-content: space-evenly;
    max-width: 25em;
    margin: 0 auto;
}

#projects > .cards > .MuiCard-root {
    text-align: center;
    max-width: 25rem;
    background-color: #FCEED8;
    margin: 0 auto;
    margin: 1em 1em;

}

#projects > .cards > .MuiCard-root:hover {
    transform: scale(1.07);
}

#projects > .cards > .MuiCard-root > .MuiCardHeader-root {
    color: #D06550;
}

#projects > .cards > .MuiCard-root > .MuiCardActions-root {
   justify-content:center;
}

#projects > .cards > .MuiCard-root > .MuiCardActions-root > .MuiButtonBase-root {
   background-color:#D06550;
   color: white;
}

#projects > .cards > .MuiCard-root > .MuiCardContent-root {
    color: #3f3209
}

@media (min-width: 40em){

    #projects > .cards {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        max-width: 80em;
        margin: 0 auto;
        gap: 1em;
    }

    #projects > .cards > .MuiCard-root {
        text-align: center;
        max-width: 345px;
        background-color: #FCEED8;
    
    }
    
    #projects > .cards > .MuiCard-root:hover {
        transform: scale(1.07);
    }
    
    #projects > .cards > .MuiCard-root > .MuiCardHeader-root {
        color: #D06550;
    }
    
    #projects > .cards > .MuiCard-root > .MuiCardActions-root {
       justify-content:center;
    }
    
    #projects > .cards > .MuiCard-root > .MuiCardActions-root > .MuiButtonBase-root {
       background-color:#D06550;
       color: white;
    }
    
    #projects > .cards > .MuiCard-root > .MuiCardContent-root {
        color: #3f3209
    }
}


