@keyframes slideInBottom {
    0%{
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0);
    }
}

.welcome__body{
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 25%;
    max-width: 100%;

}

.welcome__body > .basic__info {
    max-width: 100%;
    margin: 0 auto;
    /* animation: 1s ease-out 0s 1 slideInBottom; */
}


.welcome__body > .basic__info > h1 {
    color:  #D06550;
    font-size: 3rem;
    margin-bottom: -20px;
}

.welcome__body > .basic__info > p {
    color:  #3f3209;
    padding: 15px 0px;
    /* animation: 1s ease-out 0s 1 slideInLeft; */
}

.welcome__body > .basic__info > h4 {
    color: whitesmoke;
}

.welcome__body > .basic__info > .MuiAvatar-root{
    width: 200px;
    height: 200px;
    margin: 0 auto;

}

.welcome__body > .basic__info > .MuiIconButton-root{
    margin: 0 auto;
    justify-content: center;
}

.welcome__body > .basic__info > .MuiIconButton-root:hover{
    color: #D06550;
}


.welcome__body > .line{
    width: 20px;
    height: 500px;
    background-color: #D06550;
    position: absolute;
    z-index: -2;
    right: 90%;

}



