#welcome__body{
    /* border: 5px solid black; */
    /* height: 400px;
    width: 400px; */
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 25%;
    
}

#welcome__body > h1 {
    color: white;
}

