.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #FCEED8;
    z-index: 999px;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 8px -9px rgba(0, 0, 0, 75); 
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left > a > img {
    height: 40px;
}

.header__left > a > img:hover {
    transform: scale(1.07);
}

.header__center {
    flex: 0.33;
    display: flex;
}

.header__left > h5 {
    color: #3f3209;
    padding: 0px 10px;
    
}

.header__right {
    display: flex;
    align-items: center;
    padding-right: 10%;
}

.header__right > .MuiIconButton-root > .MuiSvgIcon-root {
    color: rgb(93, 82, 82);
    size: large;
   
}
.header__right > .MuiIconButton-root > .MuiSvgIcon-root:hover {
    color: #D06550;   
}


