.header {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #FCEED8;
    z-index: 1px;
    top: 0;
    width: 100%;
    min-height: 5%;
    box-shadow: 0px 3px 8px -9px rgba(0, 0, 0, 75); 
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left > a > img {
    height: 40px;
}

.header__left > a > img:hover {
    transform: scale(1.07);
}

.header__center {
    flex: 0.33;
    display: flex;
    padding: 0px 10px;
    gap: 1em;
}

.header__left > h5 {
    color: #3f3209;
    padding: 0px 10px;
    font-size: 0.5rem;
    
}

.header__right {
    display: flex;
    align-items: center;
    padding-right: 10%;
}

.header__right > .MuiIconButton-root > .MuiSvgIcon-root {
    color: rgb(93, 82, 82);
    size: large;
   
}
.header__right > .MuiIconButton-root > .MuiSvgIcon-root:hover {
    color: #D06550;   
}

@media (min-width: 40em){

    .header__center {
        flex: 0.33;
        display: flex;
        max-width: 100vh;
        padding: 0px 10px;
        gap: 1em;
    }

    .header__left > h5 {
        color: #3f3209;
        padding: 0px 10px; 
        font-size: 0.8rem;       
    }


}

