.sidebar {
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 100px;
  flex-direction: column;
}