#sidebar {
    padding-top: 100px;
    padding-left:20px;
    width: 50px;
    height: 150px;
    /* border: 1px solid black; */
}

#sidebar > #sidebar__projects {
    text-decoration: none;
    text-orientation: upright;
    color: #3f3209;
    writing-mode: vertical-lr;
}

#sidebar > #sidebar__experience {
    text-decoration: none;
    text-orientation: upright;
    writing-mode: vertical-lr;
    color: #3f3209;
    padding-bottom: 50%;
}


#sidebar > #sidebar__projects:hover {
    color: white;
}

#sidebar > #sidebar__experience:hover {
    color: white;
}