@import url('https://fonts.googleapis.com/css?family=Yeseva+One');

body, html {
    font-family: 'Yeseva One', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#app {
  background-image: url(./images/background1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  
}